{% extends 'front_base.html.twig' %}

{% block main %}
<main>
{% block slider %}
<section class="breadcrumb__area background-bg pt-180 pb-180 include-bg p-relative fix"
            data-background="assets/img/breadcurmb/breadcurmb.jpg">
            <div class="tp-breadcrmb-circle-one"></div>
            <div class="tp-breadcrmb-circle-two"></div>
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="breadcrumb__wrapper z-index-6 d-flex justify-content-between align-items-center">
                        <div class="breadcrumb__content">
                           <h3 class="breadcrumb__title">Blog Details</h3>
                        </div>
                        <div class="breadcrumb__button">
                           <a class="tp-btn-white" href="contact.html">Contact us today<i class="far fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            </section>
        

 <!-- tp-service-area-start -->
    <div class="tp-sercvice-insurance pt-130 pb-90 grey-bg z-index">
        <div class="container">
            <div class="row align-items-center service-bottom-space">
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="sercviceinsurance__title service-border-right">
                        <h4 class="tp-section-subtitle">Our Categories </h4>
                        <h3 class="tp-section-title">Choose a category</h3>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="tp-service-right-text">
                        <p>Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commodo claritatem insitamconse
                            quat.Exerci tation ullamcorper suscipit loborti excommodo habent claritatem insitamconse
                            quat.Exerci tationlobortis nisl aliquip ex ea commodo
                            n ullamcorper suscipit loborti excommodo</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for catoffre in catoffres %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="sercviceinsurance mb-30 text-center"> {# Ajout de la classe text-center pour centrer le contenu #}
                        <div class="sercviceinsurance__item">
                            <div class="sercviceinsurance__thumb">
                                <img src="{{ asset('uploads/offres/' ~ catoffre.catimg) }}" alt="Offre Image" class="img-fluid" style="max-width: 200px; max-height: 200px;"> {# Ajout de la classe img-fluid pour que l'image soit responsive #}
                            </div>
                            <div class="sercviceinsurance__content z-index-4">
                                <h4 class="tp-sv-insurance-title"><a href="service-details.html">{{ catoffre.categoriename }}</a></h4>
                                <p>{{ catoffre.descriptioncat }}</p>
                            </div>
                            <a href="displayoff">
                                <div class="sercviceinsurance__svbtn d-flex justify-content-between align-items-center">
                                    <span>See more</span>
                                    <i class="fal fa-angle-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- tp-service-area-end -->
{% endblock %}


{% endblock %}
