{# templates/assurance/recommendation.html.twig #}
{% extends 'front_base.html.twig' %}
{% block style %}

{% endblock %}
{% block main %}
<main>
    <section class="breadcrumb__area background-bg pt-180 pb-180 include-bg p-relative fix"
                 data-background="assets/img/breadcurmb/breadcurmb.jpg">
            <div class="tp-breadcrmb-circle-one"></div>
            <div class="tp-breadcrmb-circle-two"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__wrapper z-index-6 d-flex justify-content-between align-items-center">
                            <div class="breadcrumb__content">
                                <h3 class="breadcrumb__title">Insurances</h3>
                            </div>
                            <div class="breadcrumb__button">
                                <a class="tp-btn-white" href="contact.html">Contact us today<i
                                            class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div >
        <h2>You Top 5 Recommended Insurances</h2>
  <ul class="recommendations">
    {% for rec in recommendation %}
      <li style="text-align: center; font-size: 20px;">{{ rec }}</li>
    {% endfor %}
</ul>
</div>
</main>
{% endblock  %}
