{# templates/reset_password/reset_password.html.twig #}

{% extends 'front/index.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block main %}
<div class="am-about-me-area pt-110 pb-100" style="background-color: #051B46;">
    <div class="container" style="margin-top:60px; text-align: center; color: #FFFFFF; width: 450px;">
        <h2 style="color: #FFFFFF;">Reset Password</h2>

        {% if app.user %}
            <p>You are resetting the password for {{ app.user.email }}.</p>
        {% endif %}

        {% if error is defined %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}
<hr>
        <form method="post" action="{{ path('app_reset_password', {'id': app.user.id}) }}" style="color: #FFFFFF;">
            <label for="current_password">Current Password</label>
            <input type="password" id="current_password" name="current_password" class="form-control" placeholder="Current Password">

            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New Password">

            <label for="confirm_new_password">Confirm New Password</label>
            <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control" placeholder="Confirm New Password">
<hr>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>

    </div>
{% endblock %}
