$colors: (
    common: (
        white: #ffffff,
        black: #000E29,
        sky: #0CE0FF,
        red: #FD3358,
        green: #0DCA95,
        blue: #2CA2FB,

    ),
    grey: (
        1:#F0F0F0,
        2:#F9F9F9,
    ),
    text: (
        p:#8A90A2,
    ),
    theme: (
        1: #2CA2FB,
        2: #FCAF3D,
    ),
    border: (
        1:#F1F3F6,
        2:#F7F7F7,
    )
);

